.parent{
    height: 450px;
    width: 450px;
    border: 3px solid black;
    position: absolute;
}
.square{
    height: 100px;
    width: 100px;
    border:2px solid red;
    position: absolute;
}
.circle{
    height: 100px;
    width: 100px;
    border: 2px solid green;
    border-radius: 50%;
    position: absolute;
}
#s1{
    top: 0;
    left: 0;
}
#s2{
    bottom: 0;
    left: 0;
}
#s3{
    top: 0;
    right: 0;
}
#s4{
    bottom: 0;
    right: 0;
}
#c1{
    left: 0;
    right: 0;
    margin:auto;
}
#c2{
    top: 0;
    bottom: 0;
    margin: auto;
}
#c3{
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#c4{
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}